<div class="event">
  <div class="label">
    <img src=<%# asset_path('laura') %>>
  </div>
  <div class="content">
    <div class="date">
      3 days ago
    </div>
    <div class="summary">
      <a><%# message.user.username%></a> created a post
    </div>
    <div class="extra text">
      <%# message.body%>
    </div>
  </div>
</div>