<% @messages.each do |m| %>
<%= m.user.username %>
<%= m.body %>
<%= m.created_at %>
<% end %>

<div class="event">
  <div class="label">
    <img src=<%=  %>>
  </div>
  <div class="content">
    <div class="date">
      3 days ago
    </div>
    <div class="summary">
      <a><%# current_user.user.username%></a> created a post
    </div>
    <div class="extra text">
      <%#message.body%>
    </div>
  </div>
</div>