  
<div class="event">
  <div class="label">
    <%= image_tag message.user.main_img %>
  </div>
  <div class="content" >
    <div class="summary">
      <%= message.user.username %>
    </div>

    <div class="date">
      <%= message.created_at %>
    </div>

    <div class="extra text">
      <%= message.body %>
    </div>
  </div>
</div>
 