<div class="ui two column centered grid">
  <div class="column">
    <div class="ui middle aligned center aligned grid ">
      <div class="column">
  
          <div class="ui stacked segment">
            <div class="field">
           <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
              <div class="ui left icon input">
                <i class="user icon"></i>
                <%= f.text_field :username %>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= f.password_field :password %>
              </div>
            </div>
            <div class="ui Teal buttons">
              <%= f.button "Login", class: "ui positive button Big" %>
              <% end %>
              <div class="or"></div>
              <button class="ui  button">Sign up</button>
            </div>
          </div>
          <div class="ui error message"></div>
  
      </div>
    </div>
  </div>
</div>