<div class="ui fluid raised card ">
  <div class="content ">
    <div class="ui grid ">
      <!-- four wide  -->
      <div class="three wide column">
        <div class="ui inverted teal vertical pointing menu">
          <a class=" item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>

      <!-- thirteen wide  -->
      <div class="thirteen wide stretched column  ">
        <div class="ui segment">

          <!-- feed -->

         <div class="ui feed display-flex" id="messages"  >
            <div class="ui feed" id="message-container">
              <%=  render @messages %>
          </div>
            <!-- Send messages form -->
            <div class="extra content form_input">
              <%= form_for(@message, html:{ class: "transparent left icon input chat"},role:"form", url: message_path, remote: true) do |f| %>
              <div class="ui  transparent left icon input chat">
                <%= f.text_field :body, placeholder:"Add Comment..." %>
                <div class="ui button">
                  <%= f.submit "Send", class:"ui button" %>
                </div>
              </div>
              <% end %>
            </div>


          </div>

          <!-- feed -->

        </div>
      </div>

    </div>
  </div>
</div>