


<div class="ui fluid raised card chatbox">
  <div class="content">
    <div class="ui two column grid">

      <div class="ui teal inverted vertical menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
      </div>

    <div class="ui feed">
        <div class="event">
          <div class="label">
            <img src="/images/avatar/small/helen.jpg">
          </div>
          <div class="content">
          </div>
          </div>
          <div class="event">
              <div class="extra text">
                Have you seen what's going on in Israel? Can you believe it.
              </div>
          </div>
            <div class="extra-content">
                <div class="ui form">
                  <div class="field">
                    <label>Short Text</label>
                    <textarea rows="2"></textarea>
                  </div>
                </div>
              </div>
        </div>

        
    </div>

  </div>
</div>