<div class="ui fluid raised card ">
  <div class="content ">
    <div class="ui grid ">
      <!-- four wide  -->
      <div class="three wide column">
        <div class="ui inverted teal vertical pointing menu">
          <a class=" item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>

      <!-- thirteen wide  -->
      <div class="thirteen wide stretched column  ">
        <div class="ui segment">

          <!-- feed -->
            <%= current_user.email if current_user %>
          <div class="ui feed ">
          
            <%=  render 'messages/message' %>
            <!-- Send messages form -->

            <div class="extra content">
              <div class="ui  transparent left icon input chat">
                <input type="text" placeholder="Add Comment...">
                <div class="ui button">Send
                
                
                </div>
              </div>
            </div>

          </div>

          <!-- feed -->




        </div>
      </div>

    </div>
  </div>
</div>