@import "semantic-ui";

.login {
  max-width: 25rem;
}

.chatbox {
  height: 450px;
}

.chat {
  width: 100%;
}

#messages {
  min-height: 30rem;
  max-height: 30rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.display-flex {
  display: flex;
  flex-direction: column;
}

.form_input {
  margin-top: auto;
}

.image_container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.username_container {
  display: flex;
}

.username {
  width: 100%;
  text-transform: uppercase;
  display: flex;
}

.my_time {
  justify-self: flex-end;
  text-transform: initial;
  font-weight: initial;
}
