
<div class="ui teal top stackable inverted menu ">
<div class="ui container">
  <div class="item">
    <i class="braille icon"></i>
  </div>
  <a class="item">Chatroom</a>
  <a class="item">Testimonials</a>
  <a class="item">Login</a>
 
 
  <div class="right menu">
  
   <a class="item">Login</a>
    <a class="item">Logout</a>
    <a class="item">Signup</a>
  </div>
</div>
</div>