<div class="ui teal top stackable inverted menu ">
  <div class="ui container">
 
    <div class="item">
     <%= link_to root_path,class: 'item' do %>
      <i class="braille icon"></i>
    <% end %>
    </div>
      
       <%= link_to "Chatroom", root_path,class: 'item' %>


     <%#   login_menu_btn %>
    <div class="right menu">
 <%= menu_btns(current_user) %>
     

      <%# register_menu_btn%>
    </div>
  </div>
</div>